@import '_const.scss';

* {
    margin: $reset;
    box-sizing: border-box;
    -webkit-font-smoothing:auto;
    -moz-osx-font-smoothing:auto;
}

html {
    font-size:$base-fs;
    font-family:$font-family-base;
    margin:$reset;
    padding:$reset;
    -webkit-overflow-scrolling: touch;
}

body {
    font-family: $font-family-base;
    color:$font-color;
    text-align:$text-align;
    font-weight:$body-weight;
    line-height:$line-height-base;
}

a {
    color: $link-color;
    cursor: pointer;
    text-decoration: none;
}

button:focus {
    outline:none;
}
.main-button, button {
    background-image: none !important;
            background-color: $button-bg-color;
            padding: $button-padding;
            color: $button-font-color;
            font-size: $button-fs;
            border-radius: $border-radius;
            box-sizing: border-box;
            border: none;
            cursor: pointer;
            width: 100%;
            max-width: $button-width;
            margin: 0 auto;
            text-decoration: none;
            text-transform: $button-text-transform;
            height: auto;
            font-weight: normal;
            display: inline-block;
            transition: all $animation-time;
}

/* define hero like bulma */
div.hero {
    min-height:100vh;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: $bg-color;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    footer, hero {
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
    section {
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        padding: $hero-padding;
        -ms-flex-align: center;
        align-items: center;
        display: -ms-flexbox;
        display: flex;
        .container {
            -ms-flex-positive: 1;
            flex-grow: 1;
            -ms-flex-negative: 1;
            flex-shrink: 1;
            width: 100%;
            max-width: $box-width;
            margin: $reset auto;
            text-align: center;
        }
        h2 {
            font-size: $header-fs;
            font-weight: $header-weight;
            margin: $reset;
            color: $header-font-color;
            margin-bottom: $margin-distance;
        }
        .text {
            font-size: $base-fs;
            color: $font-color;
            padding: $medium-padding $reset;
            margin-bottom: $margin-distance;
        }
        .button a, button {
            @extend .main-button;
            &:hover {
                background-color: $button-bg-hover-color;
            }
        }
    }
}

/*****              HEADER              *****/

header {
    padding-top: 61.58854%;
    position:relative;
    img {
        border-bottom:$img-header-border-width $border-style $header-border-color;
    }
    img, > span {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
    
}
@media (min-width:768px) {
    header {
        padding-top: 30.79861%;
        img {
            border-bottom-width:$img-header-border-width-desktop;
        }
    }
}

/* displays */
.hidden-xs {
    display:none;
}
.hidden-md {
    display:flex;
}
@media (min-width:768px) {
    .hidden-xs {
        display:flex;
    }
    .hidden-md {
        display:none;
    }
}

/*****               FOOTER            *****/

footer {
    padding:$footer-padding;
    margin:$footer-margin;
    background-color:$footer-bg-color;
    color:$footer-font-color;
    font-weight:$footer-weight;
    font-size:$footer-fs;
    font-family:$font-family-base;
    font-weight:$footer-weight;
    p {
        margin-bottom:$margin-distance;
    }
    ul {
        margin:0 auto;
    }
    li {
        display:inline-block;
        list-style:none;
        &:last-child {
            a {
                border-right:none;
            }
        }
    }
    a {
        color:$footer-font-color;
        padding:$footer-link-padding;
        border-right:$border-size $border-style $footer-font-color;
        text-decoration:$footer-links-decoration;
        font-weight:$footer-links-weight;
        &:hover {
            color:$footer-font-color-hover;
        }
    }
}

/*****               LOADER            *****/
span.loading,
span.loading:after {
    border-radius: 50%;
    width: $image-spinner-size;
    height: $image-spinner-size;
}
span.loading {
    display:block;
    align-self:center;
    margin: 0 auto;
    position: relative;
    text-indent: -9999rem;
    border-top: $image-spinner-border-width $border-style rgba($spinner-color, 0.2);
    border-right: $image-spinner-border-width $border-style rgba($spinner-color, 0.2);
    border-bottom: $image-spinner-border-width $border-style rgba($spinner-color, 0.2);
    border-left: $image-spinner-border-width $border-style $spinner-color;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: loading 1s infinite linear;
    animation: loading 1s infinite linear;

}

/*****               ANIMATIONS            *****/

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.fade-enter-active {
    animation: fade-in $animation-time ease-in;
}
@keyframes fade-in {
    0% {
        transform: translateY(-$fade-distance);
        opacity:0;
    }
    100% {
        transform: translateY(0);
        opacity:1;
    }
}

@keyframes cookie-enter {
    0% {
        transform: translateY(100%);
        opacity:0;
    }
    95% {
        transform: translateY(-2%);
        opacity:1;
    }
    100% {
        transform: translateY(0);
        opacity:1;
    }
}
@keyframes cookie-leave {
    0% {
        transform: translateY(0);
        opacity:1;
    }
    5% {
        transform: translateY(2%);
        opacity:1;
    }
    100% {
        transform: translateY(100%);
        opacity:0;
    }
}

/*****          COOKIES        *****/

.cookiesContainer {
    position: fixed;
    bottom: 0;
    background-color: $cookies-bg-color;
    color: $cookies-font-color;
    box-shadow: $cookies-shadow;
    padding: $cookies-padding;
    left: $cookies-margin;
    right: $cookies-margin;
    max-height: 80%;
    overflow: auto;
    display:none;
    h3 {
        font-size:$cookies-header-fs;
        font-weight: $cookies-header-weight;
        color: $cookies-header-font-color;
        padding-bottom: $cookies-header-padding;
        margin: 0 auto;
    }
    &.show {
        display:block;
        animation: cookie-enter $animation-time ease-in;
        &.hidden {
            animation: cookie-leave $animation-time ease-in;
            animation-fill-mode: both;
        }
    }
    .cookiesContainer-closeButton {
        position: absolute;
        right: $cookies-close-button-margin;
        cursor: pointer;
        display: block;
        &::after {
            font-family:'cc-go';
            content: "\e601";
            font-size: $cookies-icon-fs;
            color: $header-font-color;
        }
    }
    button {
        background-color: $cookies-button-bg-color;
        color:$cookies-button-font-color;
        margin:$cookies-button-margin;
        font-size:$footer-fs;
    }
}