<html>
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <style>
        p{
            font-weight: bold;
        }
        .test{
            padding:10px;
        }
    </style>
</head>
<body>
    
    <table>
        <tr>
            <td class="test">
                Title
            </td>
            <td>
                <template-container>
                    <template id="winner">
                        <p>winner text</p>
                    </template>
                    <template id="looser">
                        <p>looser text</p>
                    </template>
                    <template id="alert">
                        <p>alert text</p>
                    </template>
                </template-container>
            </td>
        </tr>
    </table>
    <footer>
        <template-container>
            <template id="winner">
                winner footer
            </template>
            <template default>
                default footer
            </template>
        </template-container>

    </footer>
</body>
</html>