<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script id="gtm"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>
<body>
    <div class="hero">
        <header>
            <span id="desktop" data-image-preload-desktop="" class="hidden-xs"></span>
            <span id="mobile" data-image-preload-mobile="" class="hidden-md"></span>
        </header>
        <section>
            <div class="container">
                <h2></h2>
                <div class="text">
                    <p></p>
                </div>
                <div class="button">
                    <a href="" target="_blank"></a>
                </div>
            </div>
        </section>
        <footer>
            <p></p>
            <ul></ul>
        </footer>
        <div class="cookiesContainer" id="cookies">
            <div class="cookiesContainer-closeButton" id="cookiesClose"></div>
            <h3></h3>
            <div class="content"></div>
            <button type="button" class="cookiesContainer-mainButton" id="cookiesButton"></button>          
        </div>
    </div>

    <script type="text/javascript" src="/assets/js/index.js"></script>
</body>
</html>